
// Color variables
$color-primary-bg: rgb(166, 213, 206);
$color-primary-font: rgb(5, 29, 77);
$color-highlight: rgb(231, 105, 60);
$color-secondary-bg: rgb(105, 168, 187);

// Fonts
$font-size-mobile: 2.5rem;
$font-size-mobile-link: 1.5rem;