
.navbar-brand{
  font-size: $font-size-mobile;
}
.navbar-nav{
  font-size: $font-size-mobile-link;
}
.navbar-toggler {
    border: none;
  }
.navbar{
  background-color: $color-primary-bg;
<<<<<<< HEAD
=======
  font-family: Nunito;
>>>>>>> dcf138e95e48f600f8d3f54d9dd10b4bb42db682
}