.btn {
    background: $color-primary-font;
    color: white;
<<<<<<< HEAD
    font-weight: 200;
  
=======
    
>>>>>>> dcf138e95e48f600f8d3f54d9dd10b4bb42db682
      &:hover {
        background: $color-secondary-font;
        color: white;
      }
  }
