
#mapid {
  height: 50vh;
  width: 100%;
  }


@media only screen and (min-width: 700px) {
  #mapid {
    height: 55vh;
    
    }
}

// @media only screen and (min-width: 800px) {
//   #mapid {
//     height: 60vh;
    
//     }
// }

// @media only screen and (min-width: 1000px) {
//   #mapid {
//     height: 60vh;
    
//     }
// }