#biker_help_btn {

  margin:4rem;
}
.biker-buttons {
    display: inline-block;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 25rem;
    height: 5rem;
}

.btn-primary {
    
    background-color: $color-primary-font;
    border-color: $color-primary-font;
    &:hover{
        background-color: $color-primary-bg;
        border-color: $color-primary-bg;
    }

}

.btn {
    font-size: $font-size-mobile-btn;
}

.white-container{
    background-color: white;
    margin-top: 2.5rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

#confirm-btn, #cancel-btn, #ok-btn{
    display: none;
}

#confirm-btn {
    background-color: green;
}
#cancel-btn {
    background-color: red;
}

#help-is-coming {
    display: none;
    height: 10vh;
}
#confirm-mdg{
    display: none;
}
