#biker_help_btn {
//   width: 90%;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 5rem;
 align-items: center;
}
.biker-buttons {
    display: block;
    width: 20rem;
}

.btn-primary {
    
    background-color: $color-primary-font;
    border-color: $color-primary-font;
    &:hover{
        background-color: $color-primary-bg;
        border-color: $color-primary-bg;
    }

}

.btn {
    font-size: $font-size-mobile-btn;
    // text-transform: uppercase;
}

.white-container{
    background-color: white;
    margin-top: 7rem;
    border-radius: 1rem;
    overflow: hidden;
    
}

#confirm-btn, #cancel-btn, #ok-btn{
    display: none;
}