body {
  background-color: $color-primary-bg;
  color: $color-primary-font;
}

#mainNav a {
  color: $color-primary-font;
  font-weight: 600;
}

#main-login {
  height: 400px;
  margin-top: 15rem;
}

input {
  border: none;
  border-radius: 8px; 
  padding: 1rem;
  margin: 1rem;
  width: 30rem;
  font-size: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(5, 29, 77, 0), rgba(5, 29, 77, 0.3), rgba(5, 29, 77, 0));
}

#loginButton, #signUpButton {
  width: 7em;
  font-weight: 200;
  border-radius: 8px; 
}
