body {
  background-color: $color-primary-bg;
  color: $color-primary-font;
}

#mainNav a {
  color: $color-primary-font;
  font-weight: 600;
}

#main-login {
  height: 400px;
  margin-top: 15rem;
}

input {
  border: none;
  border-radius: 8px; 
  padding: 1rem;
  margin: 1rem;
  width: 30rem;
  font-size: 1rem;
}

#loginButton, #signUpButton, #logOutButton {
  height: 5rem;
  width: 15em;
  font-size: 2rem;
  font-weight: 200;
}

#logOutButton {
  display: none;
}

